_build/wii/
_build/xbox/gen/
_build/ps3/USRDIR/gen/
iso
_tbrb_extracted
cons
old
dependencies/riivolution-patch/riivolution/config/
dependencies/riivolution-patch/gdrbul/
*_out
/ignore
_build/xbox/nxeart
.fuse_hidden*
_ark/config/cheats.dta
/_ark/fusion/world/shared_min
_ark/*.png
_ark/*.jpg
_ark/*.dds
_ark/*.sh
_ark/*.py
*_dbg.milo*
*_rt.milo*
*.bak
_temp*
